<html>
    
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/conres.css">
        <script src="../public/jquery-3.3.1.js">
        </script>
    </head>

    <body> 
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <form action="okay" method="POST">
                    <input type="submit" id="logo" value="LAB.RES.SYS">
                </form>
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>

        <div class="details-container">
            <div class="details">
                <h1 class="text"> Confirm Reservation</h1>
                <p class="blurb">Confirm the information displayed below. 
                This will be used to make your reservation.</p>
                
                <div class="small">
                    <h4 class="text"> Reserved by:     &nbsp;  &nbsp; {{username}} &nbsp; &nbsp; &nbsp;&nbsp;({{email}})</h4> 
                    
                    <h4 class="text"> Where: &nbsp; &nbsp; &nbsp; &nbsp; Gokogwei Lab Rm: {{room}} ,&nbsp; &nbsp;  Seat No: {{seat}} </h4>
                    
                    <h4 class="text"> When: &nbsp; &nbsp; &nbsp; &nbsp; {{date}}  &nbsp; &nbsp; {{startTime}}-{{endTime}}</h4>
                   
                    <img src="../public/img/Barcode-PNG-Photos-420x140.png" id="barcode">
                    
                    <div class="buttons">
                        
                        <form method="POST" action="okay">
                            <button class="ui button green"> Reserve </button>
                        </form>

                        <form method="GET" action="backselect"> 
                            <button class="ui button"> Cancel </button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>    
        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script src="../semantic/semantic.min.js"></script>
    <script src="../js/conres.js"></script>
</html>
