<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/reservations.css">

    </head>

    <body>
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <a href="/home?username={{username}}">
                    <div class="logo"> LAB.RES.SYS </div>
                </a>
            </div>
            <div class="right">
                <form class="right-item" method="POST" action="/logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
                <a href="../reservation/reservations?username={{username}}"> 
                    <div class="right-item reservations"> My Reservations</div>
                </a>
                <div class="right-item name">{{username}}</div>
            </div>
        </div>
             
        <div class="container">
            <div class="reservation-title">
                <p>Reservations</p>
            </div>
            <div class="description-container">
                <p>You can see all the reservations you have made here.</p>
            </div>
            
            
            <div class="ui cards">
               {{#each reservations}}
                  <div class="card"  >
                    <div class="content">
                      <img class="right floated mini ui image" src="../img/rentable.png">
                      <div class="header">
                        {{date}}
                      </div>
                      <div class="meta">
                        {{startTime}} - {{endTime}}
                      </div>
                      <div class="description">
                        Gokongwei Laboratory: {{room}} <br>
                          Seat Number: {{seat}} <br>
                          ID: {{_id}} <br>
                          Occupant: {{occupant}}
                      </div>
                    </div>
                    <div class="extra content">
                    
                      <div class="ui two buttons">
                        <a href="../reservation/edit?username={{occupant}}&id={{_id}}" class="ui button">
                           <div > Edit</div></a>
                        <form action= "../reservation/delete?username={{occupant}}&id={{_id}}" method="post">
                            <input class="ui red button" type="submit" value="Cancel"></form>
                      </div>
                    </div>
                  </div>
                {{/each }}
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            type="text/javascript"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript"
            src="../semantic/semantic.min.js"></script>
    <script type="text/javascript" 
            src="../js/edit.js"></script>
</html>